# Enable pause resume option
[pause_resume]

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  {% set RetractionDistance = params.E | default(1.7) | float %}
  LED_PAUSED
  {% set x_park = printer.toolhead.axis_minimum.x|float + 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 15.0 %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 40) %}
      {% set z_safe = 40 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{RetractionDistance} F2100
  G1 Z{z_safe} F900
  G90
  G0 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  {% if not printer.pause_resume.is_paused %}
    M117 You can't use RESUME because the printer is not paused.
  {% else %}
    {% if printer.extruder.can_extrude|lower == 'true' %}
      #Save current position
      SAVE_GCODE_STATE NAME=pause_position
    
      #Clean Nozzle on brush
      CLEAN_NOZZLE
    
      #Return to saved position
      RESTORE_GCODE_STATE NAME=pause_position
      #Resume Print
      RESUME_BASE  
    {% else %}
      M117 Unable to resume due to nozzle temperature. Set it and try again.
    {% endif %}
  {% endif %}
